<style>

body {
  background-color: #EAD5E6;
}
  
  a {
    text decoration: none
      color: white 
  }
  
  ul  {
 list-style-type: none;
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  padding: 0;
  background-color: #F3F3F3;
  text-decoration: none; 
  top: 0;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  border: 2px solid #E7E7E7
}

li {
  display: inline;
  width: 60px;
  padding: 8px 16px;
  display: inline;
  float: left; 
}

a {
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: #666
}

li a:hover{
  background-color: #B098A4
}

.active{
  background-color: #B098A4
}
  
</style>
